<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style2.css" />
  </head>
  <body>
    <div class="container">

        <div class="first_line">
            <p>RECOMMENDED CALORIE INTAKE: 2200</p>
            <div id="calorie_result"></div>
            <p class="comment2"></p>
        </div>
        
        <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-image: url(./imagesX/bmi/breakfast.jpg)"></div>
                <ul class="details">
                    <div class="message">900 CALORIES</div>
                    
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>BREAKFAST</h1>
            <h2>Most important meal of the day!</h2>
            <p>
                RECOMMENDED DIET : Oats (200g), Boiled eggs(2), Poha (150g)
            </p>
            <p class="read-more">
                <a href="#">Read More</a>
            </p>
      </div>
    </div>
    
    <div class="blog-card alt">
        <div class="meta">
            <div class="photo" style="background-image: url(./imagesX/bmi/lunch.jpg)"></div>
            <ul class="details">
                <div class="message">700 CALORIES</div>
            </ul>
        </div>
        <div class="description">
            <h1>LUNCH</h1>
            <h2>Consume more starch and protein</h2>
            <p>
                RECOMMENDED DIET : Rice (200g), Yellow dal(100g),  Paneer(200g)/Chicken(200g)


            </p>
            <p class="read-more">
                <a href="#">Read More</a>
            </p>
      </div>
    </div>
    
    <div class="blog-card">
        <div class="meta">
            <div class="photo" style="background-image: url(./imagesX/bmi/dinner.jpg)"></div>
            <ul class="details">
                <div class="message">600 CALORIES</div>
            </ul>
        </div>
        <div class="description">
            <h1>DINNER</h1>
            <h2>EAT EARLY SLEEP EARLY!</h2>
            <p>
                RECOMMENDED DIET : Rajma(200g), Roti(2), Soup/Boiled veggies(150g)
                 <br>
                <span style="font-weight: bolder;"> AVOID SWEETS!</span>
            </p>
            <p class="read-more">
                <a href="#">Read More</a>
            </p>
        </div>
    </div>
</div>
    <script src="script2.js"></script>
</body>
</html>
