<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>FITFOLIO</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />

</head>

<body>
    <section class="header">
        <nav>
            <div class="logoss">
            <!-- <a href="index.html">
                <img src="imagesX/logoo.png">
            </a> -->
        </div>
            <div class="nav-links" id="navLinks">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="#service">SERVICE</a></li>
                    <li><a href="#testimony">TESTIMONIES</a></li>
                    <li><a href="">DIET CHART</a></li>
                </ul>
            </div>
        </nav>

        <div class="text-box">
            <h1 class = "fittt"><span class = "folio">FIT</span><span class ="fit">FOLIO</span></h1>
            <p>GET FIT with FITFOLIO!
            </p>
            <a href="" class="hero-btn">Visit us to know more!</a>
        </div>

        <div class="content">

            <!-- This is the signin section -->



            <div class="text">SIGN IN!</div>
             <form  class="login-form">
               <div class="field">
                 <span class="fa fa-user"></span>
                 <input type="text" name="email" placeholder="Username" class="email-address" required>
              
               </div>
               <div class="field">
                 <span class="fa fa-lock"></span>
                 <input type="password" name="password" placeholder="Password" class="password-address">
                 
               </div>
               
               <button class = "bttn" type="submit">Log in</button>
               <div class="icon-button">
               <span class="facebook"><i class="fa fa-facebook"></i>  Facebook</span>
                 <span class = "google"><i class="fa fa-google"></i>  Google</span>
                </div>
               <div class="alerts-signin"></div>
               <!-- <div class="or">Or</div> -->

                
           
                <div class = "logpad">Not an user ?<a href = "/signup"> SIGN UP!</a></div>
               </div>
             </form>
           </div>
    </section>



<!-- ---------------------------- COURSE ------------------------------ -->

<section class="about" id="service">
    <h1>SERVICES</h1>

    <div class="row"> 
        <div class="about-col">
            <h3>BMI CALCULATOR</h3>
            <div class = "imagepp">
                <img src = './imagesX/workout.jpg'>
            </div>
            <p>
              The Body Mass Index (BMI) calculator is a tool used to estimate
            whether a person has a healthy body weight based on their height and
            weight. It provides a numerical value that categorizes individuals
            into different BMI ranges, indicating their level of underweight,
            normal weight, overweight, or obesity. Calculate yours now!
            </p>
            <a href = "./signup.html">Visit BMI Calculator</a>
        </div>
        <div class="about-col">
            <h3>MEAL PLAN</h3>
            <div class = "imagepp">
                <img src = './imagesX/workout.jpg'>
            </div>
            <p>
              A guide that outlines what and when to eat throughout the day or
              week. This will help individuals achieve their nutritional goals,
              maintain a healthy weight, and meet their dietary needs on a
              day-to-day basis! Review your meal plan now!
            </p>
            <a href = "./signup.html">Visit Meal Plan</a>
        </div>
        <div class="about-col">
            <h3>WORKOUT</h3>
            <div class = "imagepp">
                <img src = './imagesX/workout.jpg'>
            </div>
            <p>
              A structured and intentional form of physical movement performed to
              improve or maintain fitness, health, and overall well-being. Our
              specialists will provide every individual with a basic workout plan
              proposed especially regarding their primary needs! Check out your
              meal plan now!
                
            </p>
            <a href = "./signup.html">Visit Workout Plan</a>
        </div>
    </div>
</section>


<!-- ///////////////////////////////////////////////// -->
<section class="containerss">
    <div class="testi" id = "testimony">
        <h1>TESTIMONIES</h1>
    </div>
    <div class="broo">
    <div class="testimonial mySwiper">
      <div class="testi-content swiper-wrapper">
        <div class="slide swiper-slide">
          <img src="images/img1.jpg" alt="" class="image" />
          <p>
            "Ever since I started following the advice and guidance provided
                on this health and wellbeing site, my life has transformed for
                the better. The articles and resources have equipped me with the
                knowledge I needed to make informed decisions about my diet,
                exercise routine, and overall lifestyle. This site has truly
                been a game-changer for me, and I highly recommend it to anyone
                looking to improve their health and wellbeing."
          </p>

          <i class="bx bxs-quote-alt-left quote-icon"></i>

          <div class="details">
            <span class="name">Shripati</span>
            <span class="job">fitness Enthusiast</span>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="images/img2.jpg" alt="" class="image" />
          <p>
            "I had been struggling with stress and anxiety for years, and I
            was desperate for a solution. That's when I stumbled upon this
            health and wellbeing site. The mindfulness and meditation
            techniques shared here have been life-changing for me. I've
            learned how to manage my stress, practice self-care, and
            cultivate a positive mindset. The guided meditation sessions and
            practical tips have helped me find inner peace and regain
            control over my emotional well-being. I can't thank this site
            enough for the impact it has had on my mental health."
          </p>

          <i class="bx bxs-quote-alt-left quote-icon"></i>

          <div class="details">
            <span class="name">Kaanu</span>
            <span class="job">Gym trainer</span>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="images/img3.jpg" alt="" class="image" />
          <p>
            "As someone who was constantly battling with unhealthy eating
            habits, I had almost given up on ever achieving a balanced and
            nourishing diet. Thanks to this site, I've not only improved my
            eating habits, but I've also witnessed significant improvements
            in my energy levels, digestion, and overall well-being. It's
            been an incredible journey, and I highly recommend this site to
            anyone struggling with their diet."
          </p>

          <i class="bx bxs-quote-alt-left quote-icon"></i>

          <div class="details">
            <span class="name">Vaishnav</span>
            <span class="job">Teacher</span>
          </div>
        </div>
      </div>
      <div class="swiper-button-next nav-btn"></div>
      <div class="swiper-button-prev nav-btn"></div>
      <div class="swiper-pagination"></div>
    </div>
</div>
  </section>



<!--?////////////////////////////////////////////////-->
<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-map"></i>
                        <div class="cta-text">
                            <h4>FIND US!</h4>
                            <span>VIT Vellore, Tamil Nadu - 632014</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-phone"></i>
                        <div class="cta-text">
                            <h4>CALL US!</h4>
                            <span>98248 XXXXX</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>MAIL US!</h4>
                            <span>fitfolio@info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <!-- <div class="footer-logo">
                            <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a>
                        </div> -->
                        <div class = "footer-logo">
                        <h2>VISIT US AGAIN!</h2>
                    </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                            elit,Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>USEFUL LINKS</h3>
                        </div>
                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">SERVICE</a></li>
                            <li><a href="#">TESTIMONIES</a></li>
                            <li><a href="#">DIETS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>SUBSCRIBE!</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, All Rights Reserved <a href="#">Glitch</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--?////////////////////////////////////////////////-->





<!-- Swiper JS -->
<script src="js/swiper-bundle.min.js"></script>


<!-- JavaScript -->
<script src="js/script.js"></script>
<!-- this is the axios  -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- this is the login operation -->
<script src="./home.js"></script>
</body>

</html>