<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="workstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="workpref.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Choose any 4 workout perferences!</h1>
      <form id="preferencesForm">
        <div class="checkbox-group">
          <input
            type="checkbox"
            id="basketball"
            name="options"
            value="Basketball"
          />
          <label for="basketball">Basketball</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="Cardio" name="options" value="Cardio" />
          <label for="Cardio">Cardio</label>
        </div>
        <div class="checkbox-group">
          <input
            type="checkbox"
            id="Football"
            name="options"
            value="Football"
          />
          <label for="Football">Football</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="Core" name="options" value="Core" />
          <label for="Core">Core</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="Running" name="options" value="Running" />
          <label for="Running">Running</label>
        </div>
        <div class="checkbox-group">
          <input
            type="checkbox"
            id="Swimming"
            name="options"
            value="Swimming"
          />
          <label for="Swimming">Swimming</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="Yoga" name="options" value="Yoga" />
          <label for="Yoga">Yoga</label>
        </div>
        <div class="checkbox-group">
          <input
            type="checkbox"
            id="Wieghts - light"
            name="options"
            value="Wieghts-light"
          />
          <label for="Wieghts - light">Weights - light</label>
        </div>
        <div class="checkbox-group">
          <input
            type="checkbox"
            id="Wieghts - Heavy"
            name="options"
            value="Wieghts-heavy"
          />
          <label for="Wieghts - Heavy">Weights - Heavy</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="Lunges" name="options" value="Lunges" />
          <label for="Lunges">Lunges</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="Squats" name="options" value="Squats" />
          <label for="Squats">Squats</label>
        </div>
        <div class="checkbox-group">
          <input
            type="checkbox"
            id="Skipping"
            name="options"
            value="Skipping"
          />
          <label for="Skipping">Skipping</label>
        </div>

        <button type="submit">Submit</button>
        <div class="register-addr"></div>
      </form>
    </div>

    <script src="pref.js"></script>
  </body>
</html>
