<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <title>CodePen - Social Cards</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
          href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="./card-style.css" />
      </head>
      <body>
        <div class="exercise">
          <h1>RECOMMENDED EXERCISES</h1>
          <h3>FOR YOUR CALCULATED BMI</h3>
          <h3>CALORIES TO BE BURNT: <span style="color: red"> 1350 </span></h3>
        </div>
        <!-- partial:index.partial.html -->
        <div class="wrap">
          <div class="box">
            <div class="box-top">
              <img class="box-image" src="boxing.jpg" alt="Girl Eating Pizza" />
              <div class="title-flex">
                <h3 class="box-title">BASKETBALL</h3>
                <p class="user-follow-info">60 MINS - 600 CALS</p>
              </div>
              <p class="description">
                A high-intensity combat sport that combines punching techniques
                with footwork, providing a full-body workout while improving
                agility and cardiovascular endurance. It is a hardcore sport.
              </p>
            </div>
            <a href="#" class="button">START EXERCISE</a>
          </div>
          <div class="box">
            <div class="box-top">
              <img
                class="box-image"
                src="running.jpg"
                alt="Girl Eating Pizza"
              />
              <div class="title-flex">
                <h3 class="box-title">CARDIO</h3>
                <p class="user-follow-info">30 MINS - 250 CALS</p>
              </div>
              <p class="description">
                Engaging in aerobic exercises such as running, cycling, or
                dancing to elevate the heart rate, burn calories, and enhance
                cardiovascular fitness, resulting in increased stamina and
                improved overall health.
              </p>
            </div>
            <a href="#" class="button">START EXERCISE</a>
          </div>
          <div class="box">
            <div class="box-top">
              <img class="box-image" src="doggy.jpg" alt="Girl Eating Pizza" />
              <div class="title-flex">
                <h3 class="box-title">YOGA</h3>
                <p class="user-follow-info">45 MINS - 300 CALS</p>
              </div>
              <p class="description">
                A mind-body practice involving physical postures, breathing
                exercises, and meditation, aimed at improving flexibility,
                strength, balance, and relaxation, promoting mental and physical
                well-being.
              </p>
            </div>
            <a href="#" class="button">START EXERCISE</a>
          </div>
          <div class="box">
            <div class="box-top">
              <img
                class="box-image"
                src="beach_run.jpg"
                alt="Girl Eating Pizza"
              />
              <div class="title-flex">
                <h3 class="box-title">SKIPPING</h3>
                <p class="user-follow-info">10 MINS - 200 CALS</p>
              </div>
              <p class="description">
                Skipping rope routines that involve continuous and rhythmic
                jumping, enhancing cardiovascular fitness, coordination,
                agility, and leg strength, making it an effective and portable
                cardio workout option.
              </p>
            </div>
            <a href="#" class="button">START EXERCISE</a>
          </div>
        </div>
        <!-- partial -->
      </body>
    </html>
  </body>
</html>
